.App {
  text-align: center;
}

.Search-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Search-link {
  color: #61dafb;
}

.tile {
  margin: 15px;
  width: 30vw;
  height: 30vh;
}

.tile-row {
  display: flex;
}

.Play {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
