.App {
  text-align: center;
}

body {
  background: linear-gradient(25deg, #402565 5%, #30BE96);
}

.Search-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Search-link {
  color: #61dafb;
}

.tile {
  margin: 15px;
  width: 30vw;
  height: 30vh;
}

.tile-row {
  display: flex;
}

.Play {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
